*{
    padding: 0;
    margin: 0;
}

.container-welcome{
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 50%;
    min-height: 80%; 
    color:white;
}

.container-welcome h1{
    margin-bottom: 2%;
    font-family: Silkscreen;
}

.container-welcome h4{
    font-family: Fira Code;
    
}

.input{
    width: 22.5vw;
    height: 3vw;
    display:flex; 
    justify-content: center;
    align-items: flex-start;
    padding-left: 10%;
    margin-bottom: 4%;
    background-color: #150714;
    color:#914D8B;
    border-style: none;
    font-family: 'Fira Code', monospace;
}

.colours{
    width: 25vw;
    height: 3vw;
    display:flex; 
    justify-content: space-between;
    align-items:center;
    list-style-type: none;
}

.square{
    width: 13%;
    height: 100%;
}
.square:hover{
    border:1px solid white;
}

.square:active{
    border:1px solid white;
}

.red{
    background-color:#F50D5A;
}
.orange{
    background-color:#FF865C;
}
.yellow{
    background-color:#FFEA5C;
}
.green{
    background-color:#00DA76;
}
.blue{
    background-color:#0096CE;
}
.purple{
    background-color:#800FFF;
}


.continue{
    width: 25vw;
    height: 3vw;
    display:flex; 
    justify-content: center;
    align-items: center;
    background-color: #00DA76;
    text-decoration: none;
    color: white;
    font-size: 150%;
    
}

.red-text{
    color:#F50D5A;
}