.card{
    width: 44vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.card-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.card-img{
    width: 10vh;
    height: 10vh;
    
}

.card-subcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 33vw;  
    
}

.name-date{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-left: 3%;
    
}

.name{
    color:#2E132C;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.333333px;
    vertical-align: text-top;
   
}

.date{
    color: white;
    text-align: left;
    width: 10vw;
    text-indent: 10px;
}

.tweet{
    width: 95%;
    text-align: left;
    margin-left: 3%;
    padding-top: 10px;
    color:white;
    
}

.likes{
    height: 20%;
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #F50D5A;
    font-weight: 450;
    font-size: 16px;
    line-height: 21px;
    padding-top: 10px;
}

.likes button{
    width: 30%;
    height: 100%;
    background: none;
    color: inherit;
    border: none;
    
}
.likes img{
    width: 100%;
}

.card hr{
    background-color:#60265B;
    height:2px;
    border-style: none;
}