.input-container{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 1%;
    width: 100%;
    height: 200px;
    background-color: #150714;
    border-bottom:2px solid #60265B;

}

.inputuser-img{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 10vh;
    width: 10vh;
    margin-left: 28%;
    
    

}

.inputuser-img img{
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

.input-tweet{
    width: 33%;
    height: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color:white;
    
}


.input-tweet textarea{
    width: 95%;
    height: 20vh;
    background-color: #2F112D;
    color: #914D8B;
    resize: none;
    border-style: none;
    font-family: 'Fira Code', monospace;
}

.sub-textarea{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    
}

.sub-textarea :last-child{
    color:#F50D5A;
    font-family: 'Fira Code', monospace;
    font-style: normal;
    font-weight: 450;
}

.container-post-button{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 95%;
    height: 50px;
}

.post-button{
    height: 70%;
}

.post-button:hover{
    height: 75%;
}

.post-button:active{
    height: 67%;
}